version: '{build}'
skip_tags: false
shallow_clone: true
environment:
  matrix:
#  - PlatformToolset: msys2-static
#    QTPATH: C:\msys64\mingw64\qt5-static
#    GENERATOR: MinGW Makefiles
#    BITS: 64
#    ARCH: x86_64
#    EXTRA_CMAKE_ARGS: -DUSE_STATIC_QT=1
  - PlatformToolset: mingw-w64
    QTPATH: C:\Qt\5.11\mingw53_32
    GENERATOR: MinGW Makefiles
    RELEASE_ARTIFACT: true
  - PlatformToolset: v140
    QTPATH: C:\Qt\5.11\msvc2015
    GENERATOR: Visual Studio 14
    ARCHI: x86
configuration:
- RelWithDebInfo
matrix:
  fast_finish: false
install:
- ps: appveyor DownloadFile -FileName Neovim.zip "https://ci.appveyor.com/api/projects/neovim/neovim/artifacts/build/Neovim.zip?branch=master&job=Configuration%3A%20MINGW_64"
- 7z x Neovim.zip
- set PATH=%PATH%;%CD%\Neovim\bin;
- nvim --version
# sh.exe must not be in the PATH
- if "%PlatformToolset%"=="mingw-w64" set PATH=C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin;%PATH:C:\Program Files\Git\usr\bin;=%
- if "%PlatformToolset%"=="v140" call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" %archi%
# Static qt5 builds using msys2/mingw packages
- if "%PlatformToolset%"=="msys2-static" set PATH=C:\msys64\mingw%BITS%\bin;%PATH:C:\Program Files\Git\usr\bin;=%
- if "%PlatformToolset%"=="msys2-static" C:\msys64\usr\bin\pacman -S --needed --noconfirm mingw-w64-%ARCH%-gcc mingw-w64-%ARCH%-cmake mingw-w64-%ARCH%-python2 mingw-w64-%ARCH%-qt5-static mingw-w64-%ARCH%-jasper
build_script:
- cd "%APPVEYOR_BUILD_FOLDER%"
- set PATH=%QTPATH%;%QTPATH%/bin;%PATH%
- echo %PATH%
- mkdir build
- cd build
- cmake -G "%GENERATOR%" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../INSTALL %EXTRA_CMAKE_ARGS% ..
- cmake --build . --config Release --target install
test_script:
- set PATH=%QTPATH%;%QTPATH%/bin;%PATH%
- echo %PATH%
- cd "%APPVEYOR_BUILD_FOLDER%"/build
- ctest -VV -C Release
- ps: (Get-Item "$($env:APPVEYOR_BUILD_FOLDER)\INSTALL\bin\nvim-qt.exe").VersionInfo
artifacts:
- path: INSTALL
  name: neovim-qt
deploy:
  - provider: GitHub
    description: Automated builds (Appveyor)
    release: $(appveyor_repo_tag_name)
    auth_token:
      secure: Hx2tU6GZPZNB6qGjHcIqa1tEm8fVGXZUVfXyjboVrPcmA9OWMTXhLxayDzMMl3kD
    artifact: neovim-qt.zip
    prerelease: false
    on:
      appveyor_repo_tag: true
      configuration: RelWithDebInfo
      release_artifact: true
