version: '{build}'
skip_tags: false
shallow_clone: true
image:
- Visual Studio 2019
environment:
  matrix:
  - PlatformToolset: MinGW-Win64
    QTPATH: C:\Qt\5.15\mingw81_64
    GENERATOR: MinGW Makefiles
    RELEASE_ARTIFACT: true
    CMAKE_PATH_PREFIX: C:\Qt\5.15\mingw81_64\lib\cmake
    CMAKE_BUILD_TYPE: Release
  - PlatformToolset: VisualStudio2019
    QTPATH: C:\Qt\5.15\msvc2019_64
    GENERATOR: Visual Studio 16
    CMAKE_PATH_PREFIX: C:\Qt\5.15\msvc2019_64\lib\cmake
    CMAKE_BUILD_TYPE: Debug
  - PlatformToolset: MinGW-Win64-Qt6
    QTPATH: C:\Qt\6.2.4\mingw_64
    GENERATOR: MinGW Makefiles
    RELEASE_ARTIFACT: false
    CMAKE_PATH_PREFIX: C:\Qt\6.2.4\mingw_64\lib\cmake
    EXTRA_CMAKE_ARGS: -DWITH_QT=Qt6
    CMAKE_BUILD_TYPE: Release
configuration:
- RelWithDebInfo
matrix:
  fast_finish: false
  allow_failures:
  - PlatformToolset: MinGW-Win64-Qt6

install:
- ps: appveyor DownloadFile -FileName Neovim.zip "https://github.com/neovim/neovim/releases/download/stable/nvim-win64.zip"
- 7z x Neovim.zip
- set PATH=%PATH%;%CD%\nvim-win64\bin;
- nvim --version
# sh.exe must not be in the PATH
- if "%PlatformToolset%"=="MinGW-Win64" set PATH=C:\Qt\Tools\mingw810_64\bin;%PATH%;C:\Qt\5.15.1\mingw81_64\bin;C:\Program Files\Git\usr\bin
- if "%PlatformToolset%"=="MinGW-Win64-Qt6" set PATH=C:\msys64\mingw64\bin;%PATH%;%QTPATH%\bin;C:\Program Files\Git\usr\bin
- if "%PlatformToolset%"=="VisualStudio2019" call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
build_script:
- cd "%APPVEYOR_BUILD_FOLDER%"
- set PATH=%QTPATH%;%QTPATH%/bin;%PATH%
- echo %PATH%
- mkdir build
- cd build
- cmake -G "%GENERATOR%" -DCMAKE_PREFIX_PATH="%CMAKE_PATH_PREFIX%" -DCMAKE_BUILD_TYPE=%CMAKE_BUILD_TYPE% -DCMAKE_INSTALL_PREFIX=../INSTALL -DENABLE_TESTS=ON %EXTRA_CMAKE_ARGS% ..
- cmake --build . --config Release --target install
- cpack --verbose -G WIX
test_script:
- set PATH=%QTPATH%;%QTPATH%/bin;%PATH%
- echo %PATH%
- cd "%APPVEYOR_BUILD_FOLDER%"/build
- ctest -VV -C Release --timeout 120 --output-junit JUnit.xml
- ps: (Get-Item "$($env:APPVEYOR_BUILD_FOLDER)\INSTALL\bin\nvim-qt.exe").VersionInfo
artifacts:
- path: INSTALL
  name: neovim-qt
- path: build\_CPack_Packages\win64\WIX\neovim-qt-installer.msi
on_finish:
- ps: |
      $wc = New-Object 'System.Net.WebClient'
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$env:APPVEYOR_JOB_ID", (Resolve-Path .\JUnit.xml))
deploy:
  - provider: GitHub
    description: Automated builds (Appveyor)
    release: $(appveyor_repo_tag_name)
    auth_token:
      secure: zhYnPJHaw6Dkl59gfvcx4EaAw7xhmU//01kwlRCvqdbkrz2IVSZKdwEs77Lw4Iod
    artifact: neovim-qt.zip, build\_CPack_Packages\win64\WIX\neovim-qt-installer.msi
    prerelease: false
    on:
      appveyor_repo_tag: true
      configuration: RelWithDebInfo
      release_artifact: true
