[Desktop Entry]
Name=Neovim-Qt
Comment=Qt GUI for Neovim text editor
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=nvim-qt -- %F
Icon=nvim-qt
Type=Application
Terminal=false
Categories=Utility;TextEditor;
