[Desktop Entry]
Name=Neovim-Qt
Comment=Qt GUI for Neovim text editor
Comment[de]=Grafikschnittstelle für den Neovim Texteditor
Comment[fr]=Interface graphique pour l'éditeur de texte Neovim
Keywords=Text;Editor;Plaintext;Write;
Keywords[de]=Text;Editor;Klartext;Schreiben;
Keywords[fr]=texte;éditeur;texte brut;écrire;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=nvim-qt %U 
Icon=nvim-qt
Type=Application
Terminal=false
Categories=Utility;TextEditor;
